__pycache__
*.swp

# Ignoring virtualenv files
spotippos/.Python
spotippos/bin/
spotippos/include/
spotippos/lib/
spotippos/pip-selfcheck.json

# Ignoring gradle dist
gradle-2.14.1/
.gradle
build
.idea
